/* Start Variables */
:root {
    --main-color: #051147;
    --secondary-color: #EEF6F4;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --pargaraph-color: #777;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
i {
    color: var(--main-color);
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px; 
}

/* Media Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Media Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Media Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Component */
.special {
    background-color: var(--section-background)
}
.heading {
    display: flex;
    justify-content: center;
    font-weight: 800;
    letter-spacing: -3px;
    font-size: 100px;
    color: var(--main-color);
    padding: 35px;
    text-decoration: underline;
}
@media (max-width: 767px) {
    .heading {
        font-size: 50px;
    }
}
/* End Component */
header {
    background-image: url(../Images/back4.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 375px) {
    header {
        background-image: url(../Images/back4.jpg);
        height: 50vh;
        background-repeat: no-repeat;
        background-size: 973px 50vh;
    }
}
@media (max-width: 650px) {
    header {
        background-image: url(../Images/back4.jpg);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (max-width: 992px) {
    header {
        background-size: 973px 100vh;
    }
}
@media (max-width: 1040px) {
    header {
        background-size: 1020px 100vh;
    }
}
@media (min-width: 1115px) {
    header {
        background-size: 1350px 100vh;
    }
}
@media (min-width: 1150px) {
    header {
        background-size: 1350px 100vh;
    }
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 60px;
}
.logo {
    color: var(--secondary-color);
    font-family: 'FontAwesome';
    font-size: 20px;
    letter-spacing: 2px;
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav .toggle-menu {
    color: white;
    font-size: 22px;
    padding: 20px;
}
@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}
header nav ul {
    display: flex;
}
header nav ul li {
    width: 100%;
    text-align: center;
    margin: 10px 20px;
}
@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgb(0 0 0 / 50%);
    }
    header nav  ul a {
        padding: 5px !important;
    }
}
header nav ul a {
    display: block;        
    background-color: var(--secondary-color);
    color: var(--main-color);    
    width: 100%;
    padding: 5px;    
    font-size: 15px;
    margin-right: 20px;    
    border-radius: 5px;
    transition: .3s;
}
/* End Header */
/* Start Landing */
.landing {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.landing .text {
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.landing .text h1 {
    width: 100%;
    color: var(--main-color);
    font-family: "Oxygen", Sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.4;
}
@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 30px;
    }
}
.landing .text p {
    width: 100%;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
/* End Landing */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
@media (min-width: 768px) {
    .services-content {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
@media (min-width: 1116px) {
    .services-content {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
.services .services-content .card {
    border: 1px solid #cccccc;
    margin: 10px;
    box-shadow: 0px 5px 20px #e4e4e4, 0px -5px 20px #e4e4e4;
    border-radius: 5px;
}
@media (max-width: 767px) {
    .services-content .card {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .card img {
    width: 100%;
    height: 220px;
}
.services .services-content .card .text {
    padding: 10px;
}
.services .services-content .card .text h3 {
    padding: 20px;
    text-align: center;
}
.services .services-content .card .text p {
    color: var(--pargaraph-color);
    font-weight: 300;
    line-height: 2;
    text-align: center;
}
/* End Services */
/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .about-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
@media (min-width: 768px) {
    .about .about-content {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
@media (min-width: 1116px) {
    .about .about-content {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
.about-image {
    background-image: url(../Images/backgr2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.about-image .us {
    width: 250px;
    width: 200px;
    height: 200px;
    border-radius: 0px 100px 100px 0px;
}
.about-content .col {
    margin: 10px;
    width: 100%;
    height: 100%;
}
.about-content  .card {
    width: 100%;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}
.about-content .card:hover {
    transform: rotateY(180deg);
}
.about-content .card > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    color: var(--pargaraph-color);  
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
.about-content .card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 30px;
}
.about-content .card .face {
    backface-visibility: hidden;
    z-index: 2;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.about-content .card .face .top {
    background-color: var(--main-color);
    width: 100%;
    height: 80px;
    margin-bottom: 70px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}
.about-content .card .face > h3 {
    margin-bottom: 5px;
}
.about-content .card .face p {
    padding: 15px 15px 30px;
    line-height: 2;
}
.about-content .card .face span {
    display: inline-block;
    margin-top: 5px;
    color: var(--main-color);
    font-weight: bold;
}
@media (max-width: 767px) {
    .about-content .card .face span {
        color: transparent;
    }
    .about-content .card .face span::before {
        display: block;
        content: "Click To See Details";
        color: var(--main-color);
        text-align: center;
    }
}
.about-content .card .behain {
    padding: 25px;
    z-index: 1;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.about-content .card .behain ul {
    padding: 0;
    list-style: none;
    line-height: 2;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
}
.about-content .card .behain ul i {
    font-size: 30px;
    margin: 0px 50px 20px 30px;
}
.about h3 {
    color: var(--main-color);
    text-align: center;
}
/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .container {
    padding: 20px;
}
.contact .container form {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
} 
.contact .container form .filed {
    width: 60%;
}
.contact .container form label {
    color: var(--main-color);
    font-size: 20px;
    padding-right: 30px;
    font-weight: 600;
    width: 100%;
}
.contact .container form input {
    padding: 7px 20px;
    width: 100%;
    border-radius: 5px;
    margin: 30px 0;
}
.contact .container form textarea  {
    width: 100%;
    height: 100px;
    padding: 3px 20px;
    margin-top: 15px;  
    border-radius: 5px;
}
.contact .container form .send {
    background-color: var(--section-background);
    color: var(--main-color);
    width: fit-content;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
}
.contact .container form .send:hover {
    background-color: var(--main-color);
    color: var(--section-background);
}
.contact .container .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    padding: 20px 0px;
    text-align: center;
}
.contact .container .social {
    display: flex;
    justify-content: center;
}
.contact .container .social i {
    padding: 0px 10px;    
    margin-left: 10px;
    font-size: 30px;
}
@media (max-width: 767px) {
    .contact .container .social p {
        font-size: 25px;
    }
    .contact .container .social i {
        font-size: 20px;
        padding: 5px;
        margin: 0 5px;
    }
}
/* End Contact  */
/* Start Footer */
footer .copyright {
    text-align: center;
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 20px;
}
footer .copyright span {
    font-weight: bold;
    color: var(--secondary-color);
}
/* End Footer */